
    <!--NAVBAR STARTS-->

    <div class="ui dark" style=" margin-bottom: 20px;">
      
      <a  href="/">
        <img src="/logo.png" width="40" height="40" alt="logo">
      </a>
      <p class="tagline" style="color: #ffffffed"><em>...safety begins at home.</em></p>
     </div>
    
  
<main class="ui container">
 