<%- include('partials/header') %>
<%- include('partials/nav') %>
<section class="ui fluid form">
    <div class="two fields">
        <div class="field">
            <p><a href="#overview">Overview</a></p>
            <p><a href="#account">Creating an account</a></p>
            <p><a href="#resident">Registering as a resident</a></p>
        </div>
        <div class="field">
            <p><a href="#subscription">Renewing subscription</a></p>
            <p><a href="#receiver">Adding signal receiver</a></p>
            <p><a href="#contact">Contact Us</a></p>
        </div>
    </div>
</section>
<%- include('partials/footer') %>