<%- include('partials/header') %>
<%- include('partials/nav') %>
<section class="ui fluid form">
    <div class="two fields">
        <div class="field">
            <p><a href="#overview">Overview</a></p>
            <p><a href="#account">Creating an account</a></p>
            <p><a href="#resident">Registering as a resident</a></p>
        </div>
        <div class="field">
            <p><a href="#subscription">Renewing subscription</a></p>
            <p><a href="#receiver">Adding signal receiver</a></p>
            <p><a href="#contact">Contact Us</a></p>
        </div>
    </div>
    <h3 id="overview">Overview</h3>
    <p>XIGNAL.NG is a signal transmitting web application that connects every resident within a confined region to the appropriately registered security/emergency personal, 
        who gets notified whenever a resident sends out a distress signal via the web app.
    </p><p>Its functionality requires less information about the resident but takes into account his/her house number. This number, alongside the description of danger, is sent to the response team whenever a distress callis made.</p>
    <p>Each neighbourhood only need to create just an account, after which a unique access code is sent to the provided email address. This 
        unique access code is then used by every resident within the neighbourhood to register their house number once, so as to not repeat the process at every distress call.
    </p><p>XIGNAL.NG is flexible and takes into account the possibility of change of residence. All that is required is the new access code perculiar to the neighbourhood, then re-register with the new address. </p>
    <br>
    <h3 id="account">Creating an account</h3>
    <p>Click on the <code>Official</code> button on the home page to register. It is advised to use an active email address and also the dedicated emergency phone number as this cannot be altered/changed after registration. </p>
    <br>
    <h3 id="resident">Registering as a resident</h3>
    <p>The unique code is sent to the provided email after creating an account. It is this code that is used by every resident to register their house numbers. Incase of wrong input, please follow the message of the screen for rectification.</p>
    <br>
    <h3 id="subscription">Renewing subscription</h3>
    <p>You receive one month free trial, after which you are required to renew your subscription to continue using the service. Note that distress calls will not be successful on expired subscription. </p>
    <br>
    <h3 id="receive">Adding signal receiver</h3>
    <p>You have the option of adding extra two signal receiving numbers to your neighbourhood account. After login, click on the EVENTS button; add receiver button is right at the bottom of the page.</p>
    <br>
    <h3 id="contact">Contact us</h3>
    <p>Call <a href="tel:08121304117">+234(0)8121304117</a></p>
    <br>
</section>
<%- include('partials/footer') %>