<%- include('partials/header') %>
<%- include('partials/nav') %>
<div class="ui attached message">
    <div class="header">
      Officer Login
    </div>
    <p>Thank you for choosing to secure lives and properties.</p>
</div>
<form action="/login" method="POST" class="ui attached fluid form segment">
    <div class="field ">
        <label>Full Name</label>
        <input placeholder="John Doe" type="text" name="username">
    </div>
    <div class="field">
        <label>Password</label>
        <input placeholder="Your Password" type="password" name="password" id="pword">
        
    </div>
    <div class="ui blue submit button">LOGIN</div>
</form>
<div class="ui bottom attached warning message">
    <i class="icon help"></i>
     No account yet? <a href="/register">Signup here</a> instead.
</div>
<%- include('partials/footer') %>


   
